.image {
    height: 200px;
    width: 250px;
    object-fit: scale-down;
}

.descriptionBox {
    border: solid purple 2px;
}

.container {
    display: flex;
    flex-direction: row;;
}

.soldContainer {
    display: flex;
    flex-direction: row;
}

.innerSold {
    font-size: 25px;
    padding-right: 50px;
    
}

.user {
    width: 20%;
}


/* .imageContainer {
    padding-left: 0px;
} */