.image {
    height: 200px;
    width: 250px;
    object-fit: scale-down;
}

.descriptionBox {
    border: solid purple 2px;
}

.container {
    display: flex;
    flex-direction: row;;
}

/* .imageContainer {
    padding-left: 0px;
} */