.itemsContainer {
    height: 100%;
    width: 100%;
    background-image: url('../../pics/backGroundImages/coolBackground.png');
    /* background-size: cover; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.images {
    /* box-sizing: border-box; */
    height: 200px;
    width: 220; 
    object-fit: contain;
}

.storeContainer {
    padding-top: 50px;
    display: grid;
    gap: 100px;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    grid-auto-flow: row;
}