.searchContainer {
    height: 100vh;
    width: 100%;
    background-image: url('../../pics/backGroundImages/coolBackground.png');
    /* background-size: cover; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.searchItems {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}