
.profile-dropdown {
  position: absolute;
}

.nav-wrapper {
  height: 150px;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

.nav-wrapper button {
  width: 120px;
  height: 30px;
  margin: 0 10px;
  border: gray;
  border-radius: 2px;
}

.nav-wrapper button:hover {
  background-color: plum;
}