
.profile-dropdown {
  position: absolute;
}

.nav-wrapper {
  height: 150px;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

/* #cartLink::before {
    background-color: lightblue;
    border-right: 4px solid violet;
    content: ;
    margin-right: 4px;
    padding-left: 4px;
} */