.profile-dropdown {
  position: absolute;
}

/* .nav-wrapper {
  
} */

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;

}